@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
:root{
    --time-color: #ffffff;
    --stopwatch-button: #5AB9EA;
}


body{
    margin: 0%;
    padding: 0%;
    height: 100vh;
}

#login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #0B0C10;
}

#register-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0B0C10;
}

#baseLayout-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#quoteHeader{
    color:#5AB9EA;
    width: fit-content;
    word-wrap: break-word;
    hyphens: auto;
}

#quoteAuthor{
    color:#5AB9EA;
    text-align: center;
    font-style: italic;
}

a:link{
    text-decoration: none;
}

.char{
    animation: fadeIn 1s ease-out 1 both;
    display: inline-block;
}

@keyframes fadeIn{
    from{
        opacity: 0;
        transform: perspective(500px) translate3d(-35px,-40px,-150px) rotate3d(1,-1,0,35deg);
    }
    to{
        opacity: 1;
        transform: perspective(500px) translate3d(0,0,0);
    }
}

#logoDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    height: 55vh;
}

#imageBox{
    max-width: 55%;
    min-height: 45%;
    width: 50%;
    height: 50%;
    background: linear-gradient(21deg,#5AB9EA,#8860C0);
    border-radius: 50%;
    display: inline-block;
}

#mobileLoginDiv{
    display: flex;
    color: #5AB9EA;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    align-items: center;
}

#mobileRegisterDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 90%;
    height: 50vh;
}

#loginDiv{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 75%;
    justify-content: space-evenly;
    align-items: center;
}

#loginTextDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 25%;
}

#createTextDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 15%;
}

#loginBtnDiv{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 35%;
}

#registerDiv{
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 100%;
    color: #ffffff;
}

#bodyMass-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 250px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#bodyMass-div h3{
    margin-top: 10px;
    margin-bottom: 10px;
}

#bodyMass-input{
    display: flex;
    width: 250px;
}

#bodyMass-input h4{
    width: 100%;
    margin: 0;
}

#bodyMassTextBox{
    width: 40px;
    height: 22px;
    margin-left: 4%;
    margin-right: 4%;
}

#weightTextBox{
    width: 80px;
    height: 20px;
    margin-left: 4%;
    margin-right: 4%;
}

#registerDiv form{
    display: flex;
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
}

#textBoxBorder{
    position: relative;
    background: linear-gradient(21deg,#5AB9EA,#8860C0);
    padding: 5px;
    display: inline-block;
    border-radius: 9999em;
}

#usernameTextBox{
    display: inherit;
    border-radius: inherit;
    font-size: 25px;
    width: 240px;
    height: 96%;
    margin: 0%;
    border:none;
    outline: none;
    z-index: 1;
    position: relative;
}

#passwordTextBox{
    display: inherit;
    border-radius: inherit;
    font-size: 25px;
    width: 240px;
    height: 96%;
    margin: 0%;
    border: none;
    outline: none;
    position: relative;
    z-index: 1;
}

#loginBtn{
    position: relative;
    border:5em;
    outline: none;
    font-size: 20px;
    background: linear-gradient(21deg,#5AB9EA,#8860C0);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 250px;
    border-radius: 65px;
    box-shadow: 1px 1px 8px #5AB9EA;
}

#startWorkoutBtn{
    position: relative;
    top: 15%;
    border:5em;
    outline: none;
    font-size: 16px;
    background: linear-gradient(21deg,#5AB9EA,#8860C0);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 8px #5AB9EA;
    width: 200px;
}

#addWorkoutBtn{
    position: relative;
    border:5em;
    outline: none;
    font-size: 20px;
    background: linear-gradient(21deg,#5AB9EA,#8860C0);
    padding: 0.4em 2em;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #5AB9EA;
    width: 115px;
}

#removeWorkoutBtn{
    position: relative;
    border:5em;
    outline: none;
    font-size: 20px;
    background: linear-gradient(21deg,#5AB9EA,#8860C0);
    padding: 0.4em 2em;
    border-radius: 5px;
    box-shadow: 1px 1px 8px #5AB9EA;
    width: 150px;
    margin-left:20px ;
    margin-top:20px;
}

#signUpBtn{
    position: relative;
    top: 35%;
    border:5em;
    outline: none;
    font-size: 16px;
    background: linear-gradient(21deg,#5AB9EA,#8860C0);
    padding: 0.7em 2em;
    margin-top: 10%;
    border-radius: 65px;
    box-shadow: 1px 1px 8px #5AB9EA;
    width: 100%;
}

#backBtn{
    border:5em;
    outline: none;
    font-size: 16px;
    background: linear-gradient(21deg,#5AB9EA,#8860C0);
    padding: 0.7em 2em;
    margin-top: 10%;
    border-radius: 65px;
    box-shadow: 1px 1px 8px #5AB9EA;
    width: 100%;
}

/*****----Navbar/Footer Styling----*****/
#dashboard-navbar{
    position:relative;
    background-color: #5AB9EA;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 50;
    justify-content: space-around;
    width: 100%;
    height: 7vh;
}

#footer-div{
    background-color: #5AB9EA;
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 50;
    justify-content: space-around;
    width: 100%;
    height: 7vh;
}

#footerBtn{
    width: 50%;
    border: none;
    font-size: 24px;
    font-weight: 400;
    background-color: #5AB9EA;
    color:#0B0C10;
    text-decoration: none;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}

#dashboardBtn{
    width: 10%;
    border: none;
    font-size: 24px;
    font-weight: 400;
    background-color: #5AB9EA;
    color:#0B0C10;
    text-decoration: none;
    text-align: center;
    position: relative;
    text-transform: uppercase;
}
/*****----End of Navbar/Footer Styling----*****/


/*****----Dashboard Styling----*****/

#workout-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

#stopwatch-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #0B0C10;
}

#stopwatch-circle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    min-width: 100%;
    border: 2px solid;
    border-radius: 50%;
    box-shadow: 1px 1px 10px 1px var(--time-color);
    animation: glow 1s ease-in-out infinite alternate;
    color: var(--time-color);
}

#circle-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 275px;
}


@keyframes glow{
    from {
      box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #0B0C10, 0 0 40px #0B0C10, 0 0 50px #0B0C10, 0 0 50px #0B0C10, 0 0 50px #0B0C10;
    }
    
    to {
      box-shadow: 0 0 20px #fff, 0 0 30px #0B0C10, 0 0 40px #0B0C10, 0 0 50px var(--stopwatch-button), 0 0 30px var(--stopwatch-button), 0 0 50px var(--stopwatch-button), 0 0 50px var(--stopwatch-button);
    }
  }

#StopWatch-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
}

#dashTimer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0B0C10;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

#StopWatchTimer{
    text-align: center;
    font-family: 'Orbitron',sans-serif;
    font-size: 250%;
    text-shadow: 0 0 2px var(--time-color), 0 0 2px var(--time-color), 0 0 4px var(--time-color), 0 0 2px var(--time-color), 0 0 6px var(--time-color), 0 0 30px var(--time-color), 0 0 6px var(--time-color);
    color: var(--time-color);
}

#StopWatchBtns{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 84px;
    width: 100%;
}

#ActiveBtn{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#firstBtn{
    padding:15px;
    border: 4px solid;
    border-radius: 50%;
    background-color: #0B0C10;
    border-color: var(--stopwatch-button);
}

#secBtn{
    padding:15px;
    border: 4px solid;
    border-radius: 50%;
    background-color: #0B0C10;
    border-color: var(--stopwatch-button);
}

#stopwatch-icon{
    font-size: 4em;
    height: 35px;
    width: 40px;
    color: #5AB9EA;
}

#dashboard-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#dashboard-heading{
    text-align: center;
    margin: 20px;
}

#workoutUL-heading{
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

#workoutUL{
    display: flex;
    flex-direction: column;
    margin: 4%;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 0;
    justify-content: center;
    list-style-type: none;
    background: linear-gradient(84deg,#1DB9AE,#8860C0);
    color: #001b32;
    border-radius: 1em;
}

#workoutUL li{
    margin: 5%;
}

#description-heading{
    margin:20px;
}

#setSpan{
    margin:20px;
}

#repSpan{
    margin:20px;
}

